<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Home page</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-8">
    <div class="page-header" align="center">
        <h2>Welcome to Flight Tracker Application</h2>
        <br><br>
        <form th:action="@{|/flights/create/users/${#authentication.principal.id}|}" method="get">
            <div align="center" sec:authorize="hasAuthority('ADMIN')">
                <input class="btn-success btn-lg" type="submit" value="Create new Flight">
            </div>
        </form>
    </div>

</div>

</body>
</html>