<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>My Flight</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-8">
    <h2 th:text="${'All flights ' + user.firstName + ' ' + user.lastName}"></h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Airport of departure</th>
            <th scope="col">Airport of arrival</th>
            <th scope="col">Departure time</th>
            <th scope="col">Arrived time</th>
            <th scope="col">Flight status</th>
            <th scope="col">Price</th>
            <th scope="col">Info about Flight</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flight, i: ${myFlights}">
            <th scope="row" th:text="${i.index + 1}"></th>
            <td th:text="${flight.id}"></td>
            <td th:text="${flight.title}"></td>
            <td th:text="${flight.airportOfDeparture}"></td>
            <td th:text="${flight.airportOfArrival}"></td>
            <td th:text="${#temporals.format(flight.departureTime, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(flight.arrivedTime, 'dd.MM.yyyy HH:mm')}"></td>
            <td th:text="${flight.flightStatus.name().substring(0,1) + flight.flightStatus.name().substring(1).toLowerCase()}"></td>
            <td th:text="${flight.price}"></td>
            <td>
                <a th:href="@{|/flights/${flight.id}/read|}">Info</a>
            </td>
            <td th:number="${flight.id}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>