<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2">
    <h2>Update existing Flight</h2>
</div>
<form class="form-horizontal" th:action="@{|/flights/${flight.id}/update/users/${#authentication.details.id}|}" th:object="${flight}" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="id">ID:</label>
        <div class="col-sm-8">
            <input class="form-control" th:field="${flight.id}" id="id" disabled th:value="*{id}" type="number"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="title">Title:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{title}" id="title"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="airport_of_departure">Airport of departure:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{airport_of_departure}" id="airport_of_departure"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('airport_of_departure')}" th:errors="*{airport_of_departure}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="airport_of_arrival">Airport of arrival:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" th:field="*{airport_of_arrival}" id="airport_of_arrival"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('airport_of_arrival')}" th:errors="*{airport_of_arrival}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="departure_time">Departure time:</label>
        <div class="col-sm-8">
            <input type="datetime-local" class="form-control" th:field="*{departure_time}" id="departure_time"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('departure_time')}" th:errors="*{departure_time}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="arrived_time">Arrived time:</label>
        <div class="col-sm-8">
            <input type="datetime-local" class="form-control" th:field="*{arrived_time}" id="arrived_time"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('arrived_time')}" th:errors="*{arrived_time}"></small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="flight_status">Flight status:</label>
        <div class="col-sm-8">
            <select class="form-control" name="flightStatus" id="flight_status">
                <span th:each="flightStatus : ${statuses}">
                <option th:if="${flightStatus.name().equals(flight.flightStatus)}" th:value="${flightStatus}"
                        th:selected="${true}"
                        th:text="${flightStatus.name().substring(0,1) + flightStatus.name().substring(1).toLowerCase()}"/>
                <option th:unless="${flightStatus.name() == flight.flightStatus}" th:value="${flightStatus}"
                        th:text="${flightStatus.name().substring(0,1) + flightStatus.name().substring(1).toLowerCase()}"/>
                </span>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="price">Price:</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" th:field="*{price}" id="price" step="1" pattern="\d+"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-6">
        <input class="btn btn-success" type="submit" value="Update"/>
        <input class="btn btn" type="reset" value="Clear"/>
        <input type="hidden" name="id" th:value="${flight.id}">
        <input type="hidden" name="user_id" th:value="${#authentication.details.id}">
    </div>
</form>
</body>
</html>